<!DOCTYPE html>
<html lang="en">

  <%- include('./parts/head.ejs') -%> 

<body>
  <!--Navigation bar-->
  <%- include('./parts/nav.ejs') -%> 
  <div class="container">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">name</th>
          <th scope="col">Phone</th>
          <th scope="col">#invoices</th>
          <th scope="col">Total payments</th>
          <th scope="col">Last activity</th>
        </tr>
      </thead>
      <tbody>
         
        <% for (let index = 0; index < json.length; index++) { %>
          <% const d=new Date(json[index].last) %> 
          <tr>
            <th scope="row"><%=index+1 %> </th>
            <td><%=json[index].user.name %></td>
            <td><%=json[index].user.phone %></td>
            <td><%=json[index].count %></td>
            <td><%=json[index].total_amount %></td>
            <td><%=d.getDate()+"/"+d.getMonth()+"/"+d.getFullYear() %></td> 
          </tr>
       <% } %>   
      

</body>

</html>