<!DOCTYPE html>
<html lang="en">

<%- include('./parts/head.ejs') -%>

    <body>
        <!--Navigation bar-->
        <%- include('./parts/nav.ejs') -%>

            <div class="container">
                <h3 style="margin: 15px ;">Update Product</h3>
                <form action="http://localhost:8000/checkUpdade" id="updateProduct" >

                    <div class="mb-3">
                        <label for="name" class="form-label">Product name</label>
                        <input type="text" minlength="2" maxlength="20" class="form-control" name="name" id="name"
                            value="<%=name %>" required>
                    </div>

                    <div class="mb-3">
                        <label for="description" class="form-label">description</label>
                        <input type="text" class="form-control" name="description" id="description" value="<%=description %>">
                    </div>
                    <div class="mb-3">
                        <label for="price" class="form-label">price</label>
                        <input type="number" step="0.01" min=0 class="form-control" name="price" id="price"
                            value="<%=price %>" required>
                    </div>

                    <div class="mb-3">
                        <label for="sellPrice" class="form-label">sellPrice</label>
                        <input type="number" step="0.01" min=0 class="form-control" name="sellPrice" id="sellPrice"
                            value="<%=sellPrice %>" required>
                    </div>

                    <div class="mb-3">
                        <label for="barcodeNum" class="form-label">barcodeNum</label>
                        <input type="number" class="form-control" name="barcodeNum" id="barcodeNum"
                            value="<%=barcodeNum %>" required>
                    </div>
                    <div class="mb-3">
                        <label for="categoryId">Choose product category:</label>
                        <select style="width: 100px;" id="categoryId" name="categoryId" class="form-label" required>
                            <% for (let index=0; index < json.categories.length; index++) { %>
                                <option value="<%=json.categories[index].id%>">
                                    <%=json.categories[index].name %>
                                </option>
                                <% } %>
                        </select>
                    </div>
                    <input type="hidden" name="productId" id="productId" value="<%=id%>">

                    <input type="submit" class="btn btn-primary" value="Submit">
                </form>
            </div>


    </body>

</html>